<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
ul.elementor-icon-list-items>li,.elementor-widget-container>p{
  color:#f8f6f6;
}
.elementor-widget-container>h2,i.fas.fa-mail-bulk,i.fas.fa-phone-alt,i.fas.fa-check{
  color:#6ec1e4
}
</style>
<!-- end Simple Custom CSS and JS -->
